* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  color: #f0f0f5;
}

html, body {
  overflow-y: hidden;
  background: #101010;
  font: 400 14px Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  justify-content: center;
}

.container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container .box {
  width: 100%;
  padding: 96px;
  border-radius: 8px;

  display: inline-block;
  justify-content: center;
  align-items: center;
}

.container .box h1 {
  font-size: 48px;
  color: #f0f0f5;
  line-height: 32px;
}

.container .box p {
  font-size: 18px;
  color: #737380;
  line-height: 36px;
}

.container .button {
    width: 60%;
    height: 60px;
    background-color: #e02041;
    border-color: transparent;
    border-radius: 2px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: list-item;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
  }

.container .box a {
  text-decoration: none;
}

  .container .button:hover{
    background-color: transparent;
    border-color: rgb(224, 32, 65);
  }

  .container .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .container .footer i{
    color: #737380;
  }

  .container .footer .fas {
    color: red;
  }